.homeCard{
    display: flex;
    padding: 4em 6em;
    background-color: var(--BGCOLOR);
}

.homeCard__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .3em;
    margin-bottom: 1.5em;
    gap: 20px;
}

.homeCard__container .repairCard {
    width: 350px;
    box-shadow: 0 0 15px var(--LIGHTTEXT-COLOR);
    border-radius: 5%;
}

.homeCard__container .repairCard-icon {
    margin-top: 1em;
}

.homeCard__container .repairCard-icon h2 {
    font-size: 5rem;
}

.homeCard__container .repairCard-content h3 {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.01em;
    padding: .2em 0em .5em 0em;
}

@media screen and (max-width: 500px) {
    .homeCard{
        padding: 4em 0em;
    }
}