.homeCard{
    display: flex;
    padding: 4em 6em;
    background-color: var(--BGCOLOR);
}

.homeCard__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .4em;
    margin-bottom: 1.5em;
    gap: 3em;
}

.homeCard__container .repairCard {
    width: 340px;
    box-shadow: 0px 3px 0px var(--NAVHEADER-BGCOLORR), 0px -3px 0px var(--NAVHEADER-BGCOLORR); 
    border-radius: 5%;
}

.homeCard__container .repairCard-icon {
    margin-top: 1em;
}

.homeCard__container .repairCard-icon h2 {
    font-size: 5rem;
}

.homeCard__container .repairCard-content p {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.8em;
    padding: 1em .1em;
}

.homeCard__container .repairCard-content h3 {
    font-size: 1.8rem;
}

@media screen and (max-width: 500px) {
    .homeCard{
        padding: 4em 0em;
    }
}