.home__header {
    width: 100%;
    height: auto;
    padding: 6em 0em 3em 1em;
    position: relative;
    background-color: #000;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 1em;
    margin: 2em 1em 1em;
    border-radius: 10px;
}


.header__content-h1 {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    background: linear-gradient(to right, rgba(0, 168, 253), #AE67FA 35%, #e00a95);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0em .5em;
}

.wellcome {
    display: inline-block;
}

.wellcome h2 {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 100%;
    white-space: nowrap;
    padding: 1em 0em 0.5em;
    margin: 1em 0em 0em 3em;
    background: var(--GRADIENT-TEXT); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

/* typing effect */
@keyframes typing {
    from { width: 0}
}

.header__content-p {
    color: var( --LIGHTTEXT-COLOR);
    font-size: .8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    margin-top: 1.5em;
    padding: .5rem;
    border-radius: 10px;
    background-color: var(--NAVHEADER-BGCOLORR);
}

.header__animation {
    flex: 1;
}

/* middle mobile phones/devices*/
@media screen and (max-width: 500px) {
    .home__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6em 0em 1em 0em;
    }

    .header__content {
        width: 80%;
        padding: .7em;
        margin: 0em 1em;
    }
    
    .header__content-h1 {
        font-size: 1.7rem;
        line-height: 1.3em;
        padding-top: .1em;
    }

    .wellcome h2 {
        font-size: .8rem;
        padding: 1em 0em 0.5em;
        margin: 1em 0em 0em 3em;
    }
    

    .header__content-p {
        font-size: .7rem;
        line-height: 22px;
        margin-top: 1.1rem;
        padding-top: .1rem;
    }

    .header__animation {
        display: none;
    }
} 

/* middle mobile phones/devices*/
@media screen and (min-width: 500px) {
    .wellcome h2 {
        animation: typing 5s infinite;
    }
}

/* larger device eg, tabblets/bigger phones*/
@media screen and (min-width: 1240px) {

    .home__header {
        padding: 6em 0em 3em 4em;
    }
    
    .header__content {
        margin: 5em 3em 1em;
    }
    
    .header__content-h1 {
        font-size: 3.3rem;
        font-weight: 1000;
        line-height: 1.4em;
        letter-spacing: -0.0001em;
        padding: 0.5em 0em 0.1em;
    }

    .wellcome h2 {
        font-size: 1rem;
    }
    
    .header__content-p {
        font-size: 1rem;
    }
}