@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* || VARIABLES */ 
:root {
    /* FONT */
    --FONTF: "Manrope", sans-serif;
    --FONTS: clamp(1rem, 2.2vh, 1.5rem);
    --FONTSLG: clamp(6rem, 2.2vh, 1.8rem);

    /* COLOR */
    --BGCOLOR: rgba(225, 225, 228, 0.979);
    --BGCOLOR-DARK: #0F172A;

    --NAVHEADER-BGCOLOR: #07090fc0;
    --NAVHEADER-BGCOLORR: #07090fe5;
    --DASHHEADER-BGCOLOR: #02081be8;

    --BODY-BGCOLOR: #c7c5e74f;
    --SECTION-BGCOLOR: #042c54;
    --BORDER-BGCOLOR: #333;
    --BORDER-COLOR: #3333333a;
    --LIGHTTEXT-COLOR: #81AFDD;
    --TEXT-COLOR: #041527cb;
    --WHITETEXT-COLOR: whitesmoke;
    --WHITE-COLOR: #FFF;
    --LIGHTDARK-COLOR: #3333339f;
    --SUBTEXT-COLOR: #FF8A71;
    --ERROR: firebrick;
    --INACTIVE: lightgray;
    --LINK-COLOR: #333;
    --NAV-LINKCOLOR: whitesmoke;
    --LINK-HOVER: #d6d8f1;
    --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0,65);
    --STATUS-COMPLETE: #81AFDD;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #d2dddb;
    --LOGIN-BGCOLOR: #000;
    --FOOTER-COLOR: #031B34;
    --WHATSAPP-BGCOLOR: rgb(65, 161, 65);
    --SAVE-BTN-COLOR: rgba(0, 0, 255, 0.678);
    --ANIM-LIGHTBG-COLOR: rgb(197, 197, 223);
    --ANIM-CONNECTORBG-COLOR: rgba(0, 168, 253);
    --ANIM-ROTATORBG-COLOR: #ccc;

    --GRADIENT-TEXT: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --GRADIENT-BAR: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    /* PADDING */
    --SECTION-PADDING: 4em 6em;
    --MAIN-PADDING: 1.5em;

    /* MARGIN */
    --SECTION-MARGIN: 4em 6em;
    --MAIN-MARGIN: 7.9em 0em 0em;
    --MAIN-MARGIN: 5.5em 0em 0em;
}

/* || UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
}

.errmsg {
    font-size: .9rem;
    display: inline-block;
    color: var(--ERROR);
    background-color: var(--BODY-BGCOLOR);
    padding: 0.2em .8em;
    margin: 0.5em 0em;
    border-radius: 10px;
}

.errmsg a:any-link {
    color: var(--ERROR);
    text-decoration: underline;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline;
}

.margin {
    margin: .5em;
}

.top-padding {
    padding-top: 1.2em;
}

.top-margin {
    margin-top: 1.2em;
}

.divider {
    display: flex;
    justify-content: space-around;
    
}

.bg-light {
    border-radius: 5px;
    background-color: #ffffff70;
}

.shadow {
    box-shadow: 0 0 10px var(--LIGHTTEXT-COLOR);
}

.border {
    border-radius: 5px;
    border: .1px solid var(--BORDER-COLOR);
}

.bold {
    font-weight: bold;
}

.padding {
    padding: .5em;
}

.gradient__text {
    background-color: var(--GRADIENT-TEXT);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.notYetAssigned {
    color: firebrick;
}

.line {
    display: inline-block;
}

.capitalize {
    text-transform: capitalize;
}

.section__padding {
    padding: var(--SECTION-PADDING);
}

.section__margin {
    margin: var(--SECTION-MARGIN);
}

.main__section-margin {
    margin: var(--MAIN-MARGIN);
}  

.main__section-padding {
    padding: var(--MAIN-PADDING);
}

.icon-button {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    color: var(--LIGHTTEXT-COLOR);
    cursor: pointer;
    display: grid;
    place-content: center;
}

.table__view-button a {
    font-size: .7rem;
    color: var(--LIGHTTEXT-COLOR);
}

.icon-button:hover,
.icon-button:focus-visible {
    transform: scale(1.2);
}

.icon-button[disabled] {
    visibility: hidden;
}

.action-icon-button {
    font-size: 1.5rem;
}

.instructions {
    font-size: 0.65rem;
    border-radius: 0.5rem;
    background: var(--FOOTER-COLOR);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.reLogin {
    display: flex;
    justify-content: center;
    padding: .5em 0em 0em;
    margin: .5em;
    background-color: rgb(223, 226, 217);
    box-shadow: 0 3px 10px 0 var(--LIGHTTEXT-COLOR); 
}

.profile__span {
    padding-left: .5em;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

body {
    font-family: var(--FONTF);
    color: var(--TEXT-COLOR);
    min-height: 100vh;
    background-color: var(--BODY-BGCOLOR);
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

.save__btn {
    color: var(--SAVE-BTN-COLOR);
}

/* ||  MEDIA QUERIES */

/* middle device eg, tabblets/bigger phones*/
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 3rem;
    }

    .section__margin {
        margin: 1rem;
    }

    .main__section-padding {
        padding: .3em;
    }

    .main__section-margin {
        margin: 4.8em 0em 0em;
    }

    .public__form-section {
        padding: 1em 0.5em; 
        margin: 4em 0em;
    }
}

/* middle device eg, tabblets/bigger phones*/
@media screen and (min-width: 700px) {
    .public__form-section {
        padding: 7em 3em 3em 3em; 
        margin: 0em 2em;
    }
}

 /* Large device eg, tabblets/bigger phones */
@media screen and (min-width: 1240px) {
    .main__section-margin { 
        margin: 5.99em 0em 0em;
    } 

    .main__section-padding {
        padding: 2.5em;
    }

    .public__form-section {
        padding: var(--SECTION-PADDING); 
        margin: var(--SECTION-MARGIN);
    }
} 