@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */

:root {
    /* COLOR */
    --BGCOLOR: #0F172A;
    --BORDER-COLOR: #FFF;
    --COLOR: #FFF;
    --ERROR: firebrick;
    --INACTIVE: lightgray;
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: rgba(245, 245, 245, 0.9);
    --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0,65);
    --STATUS-COMPLETE: limegreen;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #FFF;
    --TABLE-COLOR: #000;
    --LOGIN-BGCOLOR: #000;
}

/* || UTILITY CLASSES */
.errmsg {
    display: inline-block;
    background-color: var(--TABLE-BGCOLOR);
    color: var(--ERROR);
    padding: 0.2em 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

.errmsg a:any-link {
    color: var(--ERROR);
    text-decoration: underline;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.margin {
    margin: .5em;
}

.icon-button {
    width: 48px;
    height: 48px;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    color: var(--COLOR);
    display: grid;
    place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
    transform: scale(1.2);
}

.icon-button[disabled] {
    visibility: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    color: var(--COLOR);
    background-color: var(--BGCOLOR);
    background-image: url('./img/bg3.jpg');
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
}

input,
button,
textarea,
select {
    font: inherit;
}

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--LINK-COLOR);
}

a.hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

/* || LOGO */

.kg__logo {
    margin-right: 2rem;
}
.kg__logo img {
    width: 80px;
    height: 80px;
}

.kg__logo-login img {
    width: 80px;
    height: 80px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap;

}

/* || BUTTON */

.app__button {
    width: 30%;
    border-radius: 15px;
}
.login__button {
    width: 250px;
    border-radius: 15px;
}

.app__button a,
.login__button a {
    background-color: var(--LOGIN-BGCOLOR);
    display: block;
    border-radius: 15px;
}

.app__backdash {
    font-size: 1rem;
    padding: 1.5em;
}

/* || PAGE */
.public,
.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.public {
    padding: 1em;
    flex-grow: 1;
}

.public__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;

}

.public__main,
.login {
    flex-grow: 1;
    border-top: 2px solid var(--BORDER-COLOR);
    border-bottom: 2px solid var(--BORDER-COLOR);
    padding: 1em 0;
}

.login__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.public__p {
    max-width: 500px;
}

.public__addr {
    margin-top: 1em;
}

.welcome a::before {
    content: "➜"
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--BGCOLOR);
    padding: 0 0.5em;
    border-bottom: 1px solid var(--BORDER-COLOR);
}
.dash-header__logo {
    padding-top: .6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap;

}

.dash-header__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dash-header__container-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dash-header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 0.5rem;
}

.dash-container {
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
}

.dash-footer {
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: var(--BGCOLOR);
    padding: 0.5em;
    border-top: 1px solid var(--BORDER-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1em;
}

.dash-footer__button {
    font-size: 1rem;
    width: auto;
    height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
    display: contents;
}

.table {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    color: var(--TABLE-COLOR);
    gap: 0.1em;
}

.table__user {
    font-size: 1.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: var(--TABLE-COLOR);
    gap: 0.1em;
}

.table__button {
    padding: 0.25em;
    font-size: 1.5rem;
    color: var(--TABLE-COLOR);
}
.table__view-button {
    
    font-size: 0.8rem;
    color: var(--TABLE-COLOR);
    background-color: #0b38a3;
    border-radius: 10px;
}


.table__view-button a {
    padding: 0.2em 0.5em;
    display: block;
}

.table__thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table__th,
.table__cell {
    background-color: var(--TABLE-BGCOLOR);
    text-align: left;
    border: 1px solid var(--TABLE-COLOR);
    padding: 0.5rem;
}

.table__cell:last-child {
    display: grid;
    place-content: center;
}

.table__cell--inactive {
    background-color: var(--INACTIVE);
}

/* || NOTE */

.note__created,
.note__updated,
.note__username {
    display: none;
}

.note__status {
    font-weight: bold;
}

.note__status--open {
    color: var(--STATUS-OPEN);
}

.note__status--completed {
    color: var(--STATUS-COMPLETE)
}

/* || VIEW */

.view {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75em;
    max-width: 800px;
    justify-content: center;
    color: var(--COLOR);
    background-color: hsla(222, 27%, 47%, 0.295);
    border-bottom: solid 1px #817a7a;
}

.view__checkbox-container {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
}


.view__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: .25em 1em ;
    border-bottom: solid 1px rgb(104, 90, 90);
}

.view__row-section {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
}
.view__row-footer {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 1rem;
}

.view__divider {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    padding: 2rem;
}

.view__edit-button {
    color: var(--COLOR)
}

.view__checkbox-padding {
    padding-top: 1rem;
}

/* || FORM - GENERAL */

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75em;
    max-width: 800px;
    justify-content: center;
}

.form__checkbox-container {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
}

.dash-header__container--small {
    max-width: 800px;
}

.form__checkbox-padding {
    padding-top: 1rem;
}

.form__persist {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.form__title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input,
.form__submit-button {
    padding: 0.5em;
    border-radius: 15px;
}

.form__input--text {
    min-height: 150px;
}

.form__input--incomplete {
    border: 1px solid red;
    outline: 1px solid red;
}

.form__checkbox {
    width: 24px;
    height: 24px;
}

.form__select {
    width: fit-content;
    padding: 0.25em;
}

.form__action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    right: 0.5em;
}

.form__row {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
}

.form__divider {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    padding: 2rem;
}

.form__created,
.form__updated {
    display: flex;
    flex-wrap: row nowrap;
    gap: 1em;
}
.form__footer {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 1rem;
}

/* || MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .kg__logo {
        margin-right: 1rem;
        margin-bottom: .2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .public__header h1 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }

    .welcome-hide {
        display: none;
    }

    .dash-header__login-h1 {
        font-size: 1.8rem;
    }

    .dash-header__nav {
        gap: 0;
    }

    .icon-button {
        font-size: 1.5rem;
    }

    .app__button {
        width: 50%;
    }

    .table {
        font-size: 0.9rem;
    }

    .table__th {
        font-size: 1rem;
    }

    .table__view-button {
        font-size: 0.8rem;
        border-radius: 10px;
    }

    .table__view-button a {
        padding: 0.2em 0.25em;
        display: block;
    }

    .table__user {
        font-size: 1rem;
    }

    .table__user .table__th {
        font-size: 1.2rem;
    }

    .form__checkbox-padding {
        font-size: .9rem;
        padding-top: .2em;
    }

    .view__checkbox-padding {
        font-size: .9rem;
        padding-top: .2em;
    }
    
    .form__footer {
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column-reverse;
        gap:0em
    }
    
    .view__row-footer {
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column-reverse;
        gap:0em
    }
}

@media  screen and (min-width: 768px) {
    
    body {
        font-size: 1.25rem;
    }

    .dash-header {
        padding: 0 1rem;
    }

    .dash-container {
        padding: 1em;
    }

    .table {
        font-size: 1rem;
    }

    .form__action-buttons {
        position: static;
    }

    .table--notes {
        grid-template-columns: repeat(3, 1fr) 1fr repeat(2, 1fr) repeat(2, 0.5fr);
    }

    .note__created,
    .note__updated,
    .note__username {
        display: block;
    }
}